@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";
@import "../../node_modules/bootstrap/scss/mixins/_breakpoints";
@import "_custom.scss";

html, body {
  background: url(../img/bg.jpg) no-repeat;
  background-position: center center;
  height: 100%;
  background-size: cover;
}

#logo {
  padding-top: 20px;
  
  @include media-breakpoint-up(lg) {
    padding-top: 40px;
  }
  
  @include media-breakpoint-up(xl) {
    padding-top: 80px;
  }
}

#intro p {
  font-family: "Just Another Hand", cursive;
  font-size: 1.7em;
  
  @include media-breakpoint-up(sm) {
    font-size: 2em;
  }
}

.countdown {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 1.7em;
  
  @include media-breakpoint-up(sm) {
    font-size: 3em;
  }
}

.fa {
  color: #fff;
  position: relative;
  top: 0;
  transition: .3s;
}

.fa-facebook-square:hover {
  top: -5px;
  color: #3b5998;
}

.fa-twitter-square:hover {
  top: -5px;
  color: #1DA1F2;
}

.fa-google-plus-square:hover {
  top: -5px;
  color: #DB4437;
}

.fa-instagram:hover {
  top: -5px;
  color: #262626;
}

form {
  opacity: 0.8;
}

